VITE_SUPABASE_URL=https://scholar-sync-supabase.vanshkodi.in
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzcyNDc2MjAwLCJleHAiOjE5MzAyNDI2MDB9.oHiftNseHJa4YddUgQ00-9B_mmUKEpS_GrGgV4jESDo